dry_run: False

# Environment
n_actions: 4

# Buffers
buffer_max_size: 1000000

# Training
n_games: 20000
reward_scale: 2
batch_size: 256
lr_actor: 0.0003
lr_critic: 0.0003
alpha: 0.1
gamma: 0.99

# Network
hidden_size: 256

# evaluation
eval_freq: 300
eval_episodes: 20

# model saving
save_model: True
save_model_freq: 300

# logging
use_wandb: True
wandb_project: "hockey-rl"
exp_name: "baseline-sac"
save_video: True
log_gradients: False
