dry_run: False

# Environment
n_actions: 4
opponent_pool:
  type: 'weighted'
opponents:
- type: StrongBot
  priority: 0.4
- type: WeakBot
  priority: 0.2
- type: PuckFollowBot
  priority: 0.3
self_play:
  - name: 'SelfPlayMgr'
    priority: 0.7
    max_pool_size: 20
    activation_type: 'botwin'
    activation_epsilon: 0.9
    pooling:
      - type: 'episode'
        freq: 100
    sampler:
      name: 'pfsp'
      pfsp_p: 0.5
num_envs: 16

# rewards
reward_transform: "v0"

# Buffers
buffer_type: replay
buffer_max_size: 1000000
upside_down: True

# Training
n_games: 7500
warmup_games: 300
learn_steps_per_episode: 1
batch_size: 1024
lr_actor: 0.0004
lr_critic: 0.0003
gamma: 0.99
tau: 0.005
# alpha
automatic_entropy_tuning: True
lr_alpha: 0.00025
# critic target network
target_update_freq: 1
# Explorer
explorer:
  type: pink
# Munchausen RL
use_munchausen: True
munchausen_alpha: 0.99
munchausen_lo_clip: -10

# Network
algorithm: "sac"
hidden_size: 512

# Evaluation
eval_freq: 250
eval_episodes: 32

# Model saving
save_model: True
save_model_freq: 500

# Logging
use_wandb: True
wandb_project: "hockey-rl"
exp_name: "sac-v4-pink-MRL"
resume: False
save_video: True
log_gradients: True
