run_name: ppo_ensemble

# environment
env_observation_dim: 18
train_env_list:
  - LeftFirstPossession
  - RightFirstPossession
reward_name: sparse
reward_kwargs:
  defense_reward_weight: 0
max_episode_length: 251

# misc
train_steps: 3000000
seed: 1
save_model: True
save_model_freq: 50000
device: cuda

# PPO hyperparams
agent_repeat: 1
learning_rate: 2.5e-4
anneal_lr: True
end_learning_rate: 5e-5
gamma: 0.99
gae_lambda: 0.95
num_minibatches: 4
update_epochs: 4
norm_adv: True
clip_coef: 0.2
clip_vloss: True
ent_coef: 0.01
vf_coef: 0.5
max_grad_norm: 0.5

# Evaluation
eval_freq: 25000
eval_episodes_per_opponent: 50
final_eval_episodes_per_opponent: 50
video_episodes_per_outcome: 30
save_heatmaps: True

# Opponent pool settings
opponent_pool: ThompsonSampling
opponent_pool_window_size: 100
opponent_pool_draw_weight: 0.5
max_num_opponents_in_pool: 10

# Opponents:
opponents:
  TD3_faker:
    type: TD3
    weights_path: ./models/td3_benchmarks/td3_faker/model.pt
    config_path: ./models/td3_benchmarks/td3_faker/config.yaml
    evaluate_against: True
    train_start_step: 2000000
    removable: False
  TD3_bank_shot:
    type: TD3
    weights_path: ./models/td3_benchmarks/td3_bank_shot/model.pth
    config_path: ./models/td3_benchmarks/td3_bank_shot/config.yaml
    evaluate_against: True
    train_start_step: 2000000
    removable: False
  TD3_163k_improved:
    type: TD3
    weights_path: ./models/td3_benchmarks/td3_163k_improved/model.pt
    config_path: ./models/td3_benchmarks/td3_163k_improved/config.yaml
    evaluate_against: True
    train_start_step: 2000000
    removable: False
  SAC_last_year:
    type: SACLastYear
    evaluate_against: True
  StrongBot:
    type: StrongBot
    train_start_step: 0
    evaluate_against: True
    removable: False
  WeakBot:
    type: WeakBot
    train_start_step: 0
    evaluate_against: True
    removable: False

# Self play
selfplay: true
self_removable: True
selfplay_start_step: 100000
selfplay_freq: 100000
add_self_winrate_soft_threshold: 0.8 
# Add self if winrate against current opponents in pool is above this threshold
# or if selfplay_freq steps have passed since last addition 
evaluate_against_self: False