run_name: tdmpc2_test_no_compile

# environment
env_name: SparseRewardHockeyEnv
action_repeat: 1
discount: 0.99
max_episode_length: 251
train_steps: 2000000
mirror_episodes: False

# planning
iterations: 6
num_samples: 512
num_elites: 64
mixture_coef: 0.05
min_std: 0.05
temperature: 0.5
momentum: 0.1

# learning
compile: False
batch_size: 512
max_buffer_size: 1000000
horizon: 5
reward_coef: 0.1
value_coef: 0.1
consistency_coef: 20
rho: 0.5
lr: 3e-4
std_schedule: linear(0.5, 0.05, 25000)
per_alpha: 0.6
per_beta: 0.4
grad_clip_norm: 20
seed_steps: 5000
update_freq: 2
tau: 0.01

# architecture
enc_dim: 256
num_enc_layers: 2
mlp_dim: 512
dropout: 0  # Q network dropout, TDMPCv2 uses 0.01, TDMPCv1 uses 0
latent_dim: 64 
## used 50 before in TDMPCv1, switch to 64
## in TDMPCv2 they have 512 (probably overkill + better suited for multitask)
simnorm_dim: 8

# reward and Q value distributional settings
vmin: -2.5
vmax: 2.5  # ln(10) with some leeway
num_bins: 51

# misc
seed: 1
exp_name: default
eval_freq: 20000
save_model: True
save_model_freq: 50000
device: cuda

# Opponent Pool
# TODO: move somehow to kwargs
opponent_pool_window_size: 100
opponent_pool_draw_weight: 0.5

# Evaluation
eval_episodes_per_opponent: 50
final_eval_episodes_per_opponent: 100
video_episodes_per_outcome: 30

# Additional opponents for evaluation
evaluation_opponents:
  TD3_119k_faker:
    type: TD3
    weights_path: ./models/td3_benchmarks/td3_HockeyEnv_119.pt
    config_path: ./models/td3_benchmarks/td3_config.yaml
  TD3_118k_bank_shot:
    type: TD3
    weights_path: ./models/td3_benchmarks/td3_HockeyEnv_118.pth
    config_path: ./models/td3_benchmarks/td3_config.yaml

# Training opponents
opponent_pool: Uniform
training_opponents:
  StrongBot:
    type: StrongBot
    start_step: 0
  WeakBot:
    type: WeakBot
    start_step: 0

# Self play
selfplay: true
selfplay_start_step: 150000
selfplay_freq: 100000