td3:
  gamma: 0.99
  policy_delay: 2
  noise_clip: 0.5
  target_noise: 0.5
  buffer_size: 1000000
  polyak: 0.995
  batch_size: 512
  prioritized_replay: False 
  pr_alpha: 0.6
  pr_beta: 0.4
  pr_epsilon: 0.000001

  actor:
    hidden_sizes: [256, 256]
    learning_rate: 0.0001
  critic:
    hidden_sizes: [256, 256]
    learning_rate: 0.001

training:
  total_timesteps: 8000000 # and this from 4.5M
  max_ep_length: 251
  seed: 699
  # choices [gaussian, pink, ou]
  action_noise: "gaussian" 
  # choices ["linear", "constant", "none"]
  noise_scheduler: "linear"
  update_every: 50
  start_after: 10000
  use_opp_scheduler: True
  max_opp_pool: 20
  opp_update_freq: 20000
  save_ckpt_locally: True
  result_directory: "results"
  eval_freq: 10000
  eval_episodes_per_opp: 20
  video_episodes_per_outcome: 20

  # resume_from:
  #   checkpoint: ./results4/td3_HockeyEnv_21000-s699.pth
  #   start_timestep: 0
  #   start_epi: 0

  opponent_scheduler:
    # choices [fixed, linear, thompson]
    type: linear
    phase_shifts: [0, 2000000, 4000000]
    # opponent_types: [['basic'], ['multi', [ [.2, ['basic']], [.8, ['strong']] ] ], ['multi', [ [.2, ['basic'] ], [.2, ['strong'] ], [.6, ['self'] ] ] ] ]
    opponent_types:
      - ['basic']
      - ['multi',
          [
            [0.3, ['basic']],
            [0.7, ['strong']]
          ]
        ]
      - ['multi',
          [
            [0.2, ['basic']],
            [0.2, ['strong']],
            [0.5, ['self']], 
            [0.1, ['custom']] # only changed this 
          ]
        ]
      # - ['multi',
      #       [
      #         [0.25, ['basic']],
      #         [0.25, ['strong']],
      #         [0.5, ['multi_uniform', [
      #               [./results3/td3_HockeyEnv_7000-s699.pth],
      #               [./results3/td3_HockeyEnv_10000-s699.pth],
      #               [./results3/td3_HockeyEnv_12000-s699.pth],
      #               [./results3/td3_HockeyEnv_14000-s699.pth],
      #               [./results3/td3_HockeyEnv_20000-s699.pth],
      #               [./results3/td3_HockeyEnv_25000-s699.pth],
      #               ] ]
      #         ]
      #       ]
      #   ]
    max_pool_size: 20
    min_winrate: 0.65
    eval_games: 20
    run_name: td3_self_play_high_bs_linear_pool_baseline
